@use '../helpers' as *;

.cta {
  background-color: rgba(37,99,235,0.15);
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: rem(20);
    border-radius: var(--border-radius);
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    max-width: rem(500);
  }

  &__title {
    font-size: rem(28);
    text-align: left;
    margin-bottom: 0;
    &:after {
      display: none;
    }
  }

  &__subtitle {
    font-size: rem(24);
  }

  &__description {
  }

  &__form {
  }
}
