@use '../helpers' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-light);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(10);
    min-height: var(--header-height);
  }

  &__logo {
  }

  &__menu {
  }

  &__contact {
    @include tablet {
      margin-left: auto;
    }
  }

  &__burger-button {
  }
}








