@use '../helpers' as *;

.phone-contact {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  gap: rem(10);
  white-space: nowrap;

  @include hover {
    .phone-contact__number {
      color: var(--color-accent);
    }
  }
  &__icon {
    color: var(--color-accent);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: rem(5);
    @include mobile-s {
      display: none;
    }
  }

  &__number {
    @include fluid-text(22, 16);
    font-weight: 700;
    transition: var(--transition-duration);
  }

  &__schedule {
    @include fluid-text(12, 8);
  }
}