@use '../helpers' as *;

.review-card {
  display: flex !important;
  gap: rem(20);
  padding: rem(24);
  border-radius: rem(32);
  background-color: rgba(255,255,255,.75);
  border: rem(1) solid var(--color-grey);
  box-shadow: 0 10px 30px rgba(15,23,42,0.06);
  &__avatar {
    @include square(rem(80));
    flex-shrink: 0;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(20);
  }

  &__name {
  }

  &__rating {
    color: #dede1b;
  }

  &__text {
  }
}