@use 'helpers' as *;

body {
  @include fluid-text(18, 16);
  font-family: var(--font-family-body);
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-dark);

  &.lock {
    overflow: hidden;
  }
}

h1 {
  @include fluid-text(64, 42);
}

h2 {
  @include fluid-text(42, 32);
  position: relative;
  text-align: center;
  margin-bottom: fluid(70, 20);

  &:after {
    content: "";
    position: absolute;
    bottom: rem(-20);
    left: 50%;
    height: rem(2);
    width: rem(50);
    transform: translateX(-50%);
    background-color: var(--color-accent);
  }
}

section {
  padding-block: fluid(40, 20);
  opacity:0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.none {
  display: none;
}
