@use 'helpers' as *;

:root {
  --font-family-body: 'Inter', sans-serif;
  --container-width: #{rem(1420)};
  --container-padding-x: #{rem(15)};

  --color-light: #FFFFFF;
  --color-light-alt: #f8f8f8;
  --color-dark: #1d1d1b;
  --color-dark-alt: #393838;
  --color-grey: #67675f;
  --color-accent: #27ae60;

  --transition-duration: 0.2s;

  --border-radius: #{rem(8)};
}